# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# AWS credentials
.aws/

# SSH keys
*.pem
*.ppk

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db